@font-face {
  font-family: Barbara Calligraphy;
  src: url('./assets/fonts/Barbara Calligraphy.ttf');
}

.logo-name{
  font-family: Barbara Calligraphy;
  font-weight: 400;
  font-size: 35px;
}

ul li{
  margin-left: 40px;
}

.hero-img-container .sub-heading{
  font-size: 65px;
  font-weight: 700;
}